/* Parent, office, and logo: used to create a layout where we can stack images without collision
* parent: background set up
* office: will display the office image that is the background for half of the webpage
* logo: will display a logo in the top left corner (linked to another webpage & has an alert before switching pages)
*/

parent {
  top: 0;
  left: 0;
  display: block;
  }
  .office {
  position: relative;
  left: -1%;
  max-height: 500px;
  width: 105%;
  display: block;
  object-fit: cover;
  }
  .logo {
  position: absolute;
  left: -40%;
  top: 30px;
  left: 2.5%;
  height: 55px;
  display: block;
  }

/* h1 & h2: used for layout out the text on the backgroun image on the HTML */
h1{
  position: absolute;
  color:white;
  font-family: sans-serif;
  margin-top: -240px;
  margin-left: -1%;
  font-weight: 200;
  font-size: 100%;
  text-decoration: none;
}
h2{
  position: absolute;
  color: white;
  font-family: sans-serif;
  margin-top: -220px;
  margin-left: 3%;
  font-weight: 300;
  font-size: 250%;
  max-width: 65%;
}

/* myPic represents the image I am using for myself */
.myPic{
  display: block;
  float: left;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  margin-top: -50px;
  margin-left: 5%;
}

#container{
  min-height: 300px;
  padding-top: 4em;
}

/* name represents the my name on the webpage that has different styles to it */
#name{
  position:absolute;
  color: grey;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 150%;
  margin-left: 445px;
  margin-top: -50px;
}

/* role represents the my role on the webpage (under my name) that has different styles to it */
#role{
  position:relative;
  color: grey;
  font-family: sans-serif;
  font-weight: 550;
  font-size: 120%;
  margin-left: 445px;
}

/* description represents the texts on the webpage (my history and knowledge) that has different styles to it */
#description{
  position:relative;
  color: grey;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 100%;
  margin-left: 445px;
  max-width: 700px;
}

/* list represents the two columns on the webpage (code languages) */
#list{
  position:absolute;
  color: grey;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 100%;
  margin-left: 455px;
  max-width: 700px;
  columns: 2;
}

/* if screen is at a certain width, texts and images will be resized to accomodate to the changes*/
@media screen and (max-width: 650px){
  html, body{
    overflow-y: scroll;
  }
  h1{
    margin-top: -155px;
    margin-left: -1.5%;
  }
  h2{
    margin-top: -135px;
    margin-left: 6%;
    font-size: 200%;
  }
  #container{
    margin-top: 2em;
  }
  .myPic{
    text-align: justify;
    max-width: 85%;
    padding-bottom: 13%;
  }
  #name{
    display: block;
    margin-top: 49%;
    margin-left: 8%;
  }
  #role, #description {
    margin-top: 2%;
    margin-left: 8%;
  }
  #list{
    margin-top: -2%;
    margin-left: 10%;
  }
  .clear{
    clear: both;
    height: auto;
  }
  #footer{
    margin-bottom: -30%;
  }
}

/* footer represents the bottom of the webpage */
#footer{
  position: absolute;
  font-family: sans-serif;
  background:black;
  text-align: center;
  color: white;
  left: -1%;
  width: 105%;
  bottom: 0;
  height: 5rem; 
}